<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!----------------------- CSS Link ----------------------->
	<link href="https://fonts.googleapis.com/css?family=Mitr|Prompt|Kanit|Sarabun|Inter&display=swap" rel="stylesheet"><!--Google Font-->

	<link rel="stylesheet" type="text/css" href="css/global_content-style.css?v=<?php echo filemtime('css/global_content-style.css'); ?>">
	<!----------------------- JS Link ----------------------->
	<link rel="stylesheet" type="text/javascript" href="JavaScript/JS-Login.js">
	<link rel="stylesheet" type="text/javascript" href="JavaScript/JS-Global.js">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <title>Portfolio</title>
</head>

<body>
    <header>
        
    </header>
    <main>
        {{{body}}}
    </main>

</body>

</html>